.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(180, 180, 180, 0.7);
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContainer {
  width: 450px;
  height: 600px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  z-index: 9999;
}

.modalContainer .title {
  h5 {
    margin: 0px;
  }
  margin-bottom: 10px;
  text-align: center;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  flex-direction: column;
  input {
    padding: 18px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.modalContainer .modalFooter {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .modalFooter button {
  width: 100px;
  height: 45px;
  margin: 30px;
  border: none;
  background-color: rgb(250, 90, 90);
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 23px;
  border: none;
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  resize: none;
  overflow-x: hidden;
  text-align: center;
  &:focus {
    outline: none;
  }
}
span {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
h6 {
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 5px;
  height: 9px;
}

::-webkit-scrollbar-button {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}
