.movies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 75%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.movie-card {
  transition: 0.5s ease all;
  border-radius: 15px;

  img {
    border-radius: 15px;
    width: 250px;
    height: 350px;
    cursor: pointer;
  }

  &:hover {
    transition: 0.7s ease all;
    box-shadow: rgba(255, 255, 255, 0.603) 0px 54px 55px, rgb(250, 250, 250) 0px -12px 30px,
      rgb(255, 255, 255) 0px 4px 6px, rgba(236, 234, 234, 0.856) 0px 12px 13px, rgb(238, 236, 236) 0px -3px 5px;
  }
}
h6 {
  margin: 0px;
}
